body {
  margin: 0;
}

p {
  margin: 0;
}

@font-face {
    font-family: "Mario-Title";
    src: url("./assets/fonts/SuperMario85.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Mario-Text";
    src: url("./assets/fonts/RasterForgeRegular-JpBgm.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Pixel-Text";
    src: url("./assets/fonts/PixelPurl.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}